@font-face {
  font-family: minisystem;
  src: url('./assets/fonts/minisystem.otf');
  font-weight: bolder;
  color: white;
}
body {
  margin: 0;
  font-family: 'minisystem';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-weight: bolder;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.Secondary_Color{
  color:#e130d8;
}
.White{
  color:white;
}
.CardLike{
  background-color: rgba(255, 255, 255, 0.224);
  margin:5%;
  padding: 5%;
}


video{
  width:100%;
  height:80%;
  object-fit:cover;
}
.Landing{
  position:relative;
}
.content{
  position:absolute;
  width:100%;
  height: 100%;
  top: 0;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.overlay{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.378)
}