@font-face {
  font-family: minisystem;
  src: url('./assets/fonts/minisystem.otf');
  font-weight: bolder;
  color: white;
}

body {
  margin: 0;
  font-family: 'minisystem';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
