@font-face {
  font-family: minisystem;
  src: url('./assets/fonts/minisystem.otf');
  font-weight: bolder;
  color: white;
}
body {
  margin: 0;
  font-family: 'minisystem';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.Orange{
  color:rgb(255, 165, 0);
}
.White{
  color:white;
}
.CardLike{
  background-color: rgba(255, 255, 255, 0.224);
  margin:5%;
  padding: 5%;
}
